In [16]:
import pandas as pd

In [17]:
csvs = !ls *csv

In [18]:
csvs

['answer_19_kendall_correlation_inverse_weighted_blend_with_larger_difference.csv',
 'blended_her.csv',
 'blended_submission_2019-03-28_18_55.csv',
 'sub2ble.csv']

In [19]:
answer = pd.read_csv('sub2ble.csv')
answer.head()

  ID_code    target
0  test_0  0.247828
1  test_1  0.512352
2  test_2  0.456121
3  test_3  0.516757
4  test_4  0.111850

In [20]:
for csv in csvs:
    try:
        target += pd.read_csv(csv).target
    except:
        target = pd.read_csv(csv).target
answer.target = target/4

answer.head()

  ID_code    target
0  test_0  0.826258
1  test_1  1.680147
2  test_2  1.473453
3  test_3  1.706655
4  test_4  0.367879

In [23]:
answer.to_csv('avg_of_my_top3.csv', index=False)